@font-face {
  font-family: BriosoPro Italic;
  font-style: normal;
  font-weight: 400;
  src: url(../e61c97d557d371079314.woff) format("woff"), url(../95338e0d978f451b7439.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url(../5c66565f219ac7f601cf.woff) format("woff"), url(../51c6f48aaf3305197e66.woff2) format("woff2");
  font-display: swap;
}
